body {
    background-color: black;
    margin: 40px, 0px, 0px, 0px;
    overflow: hidden;
}

nav {
    background-color: black;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    background-color: black;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    font-family: monospace;
    text-align: center;
}

a {
    color: white;
}
