body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

footer {
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

p {
    font-family: monospace;
    font-size: 1.2vw;
    text-align: center;
}

a {
    color: white;
}